@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Header style */

.navbar {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.5rem 3rem !important;
  font-size: 1rem !important;
}
.sticky {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(44, 2, 255, 0.972) !important;
  backdrop-filter: blur(15px) !important;
}
.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #191919;
  height: 4px !important;
  width: 28px !important;
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  margin-right: 2rem !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}
.logo {
  background-image: url(../Assets/logor.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 80px;
}

.nav-link {
  color: white !important;
  font-size: 1rem !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  padding-right: 2rem !important;
  padding-left: 1rem !important;
  font-family: "Poppins";
}

.nav-link:hover {
  color: #0033ff !important;
  box-shadow: rgba(0, 0, 0, 0.215) 0px 3px 10px;
}
.resumebtn {
  width: 120px;
  margin-left: 2rem !important;
  border-radius: 5px !important;
  padding: 0 20px !important;
  font-size: 0.8rem !important;
  letter-spacing: 1px !important;
  color: #e8e8e8 !important;
  background-image: linear-gradient(
    43deg,
    rgb(170, 9, 154) 0%,
    rgb(61, 79, 240) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.658) 0px 4px 4px;
  border: none !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 0rem !important;
    background-color: transparent !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .responsive-navbar {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 0%,
      #ff4e4e 100%
    );
  }
  .nav-link {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

/* Homepage style */

.homepagebackground {
  width: 100%;
  min-height: 100vh;
  /* background-color: #fafafa; */
  background-image: linear-gradient(
    to left bottom,
    #0d0d0d,
    #1e1e1e,
    #2d2d2d,
    #3d3d3d,
    #4e4e4e
  );
}
.row {
  padding-top: 80px;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.Typewriter__wrapper {
  font-size: 2em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #ffffff !important;
}
.headtext {
  padding-top: 120px;
  font-size: 2.4em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.techText {
  padding-top: 120px;
  font-size: 2.4em !important;
  color: #1d0cde !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.nametext {
  font-size: 2em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.imagedeveloper {
  margin-top: 1em;
  max-width: 28em;
  height: 28em;
  background-image: url(../Assets/imgHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.socailmediabtn {
  margin-top: 2rem;
  width: 90px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}
.socailmediabtn:hover {
  background-color: rgba(87, 86, 86, 0.2);
  box-shadow: rgba(0, 0, 0, 0.702) 0px 5px 15px !important;
  opacity: 0.8;
}
.icon {
  font-size: 30px;
  color: #fff;
}

@media (max-width: 767px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
  }
  .row {
    padding-top: 50px;
  }

  .Typewriter__wrapper {
    font-size: 1.9em !important;
  }
  .Typewriter__cursor {
    font-size: 2.2em !important;
  }
  .headtext {
    padding-top: 100px;
    font-size: 2em !important;
  }
  .nametext {
    font-size: 2.4em !important;
  }
  .imagedeveloper {
    margin-top: 50px;
    max-width: 420px;
    max-height: 400px;
  }
  .socailmediabtn {
    margin-top: 1rem;
  }
}

/* Aboutpage style */

.aboutpagebackground {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    to left bottom,
    #0d0d0d,
    #1e1e1e,
    #2d2d2d,
    #3d3d3d,
    #4e4e4e
  );
  padding-top: 110px;
}
.textbackground {
  color: #e5dede;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: rgba(178, 172, 172, 0.54) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}
.aboutmetext {
  font-size: 2.1em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.aboutmetext span:hover {
  display: inline-block;
  transition: all 500ms;
  color: #fff;
  animation: vibrate 30ms linear infinite forwards;
}
@keyframes vibrate {
  0% {
    transform: translateX(-1px) translateY(1px);
  }
  100% {
    transform: translateX(1px) translateY(-2px);
  }
}
.aboutdetails {
  font-size: 1.1rem !important;
  font-family: "Poppins";
}
.skilllist li {
  letter-spacing: 1px;
  font-family: "Poppins";
}
.skilllist {
  font-weight: 600;
  list-style-type: none;
  font-family: "Poppins";
}
.skilllist li:hover {
  transform: scale(1.05);
  transition: 5ms;
  color: #e8e8e8;
}
.webimage {
  border-radius: 12em;
  max-width: 400px;
  height: 350px;
  background-image: url(../Assets/Web-designer-1024x821.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: rgb(70, 69, 69) 2px 4px 16px;
  border: 1px solid rgba(99, 97, 97, 0.404);
}
@media (max-width: 767px) {
  .aboutpagebackground {
    width: 100%;
    height: 100%;
  }
  .textbackground {
    display: block !important;
    margin: 0 auto !important;
  }
}

/* Projectpage style */

.projectbackground {
  width: 100%;
  height: 100%;
  background-color: #4d64d8;
  background-image: linear-gradient(
    to left bottom,
    #0d0d0d,
    #1e1e1e,
    #2d2d2d,
    #3d3d3d,
    #4e4e4e
  );
}
.project-section {
  position: relative !important;
  padding-top: 10px !important;
}
.project-card {
  padding-top: 20px;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}
.card-text {
  font-family: "Poppins";
}
.project-card-view {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
  color: #ffffff !important;
  background-color: transparent !important;
  border: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  border-radius: 15px;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}
.small-image {
  max-height: 200px; /* ajusta el tamaño como prefieras */
  object-fit: contain; /* para mantener la relación de aspecto */
}
.viewbtn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 18px !important;
  letter-spacing: 1px;
  font-family: "Poppins" !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.btn-primary:hover {
  color: #0033ff !important;
  background-color: transparent !important;
  border-color: #0033ff !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 767px) {
  .project-section {
    padding-top: 40px !important;
  }
}

/* Contactpage Style */
.contactbackground {
  padding: 20px;
  background-color: #4158d0;
  background-image: linear-gradient(
    to left bottom,
    #0d0d0d,
    #1e1e1e,
    #2d2d2d,
    #3d3d3d,
    #4e4e4e
  );
}

.containerContact {
  max-width: 600px;
  margin: 0 auto;
  /* margin-top: 3em; */
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to left bottom,
    #286ed786,
    #0559c0c0,
    #bf17d957,
    #28adb9a3,
    #ed37f06f
  );

  text-align: center;

}

.contactame {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.labelContact {
  font-size: 1.2rem;
}

.inputs {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.contactBoton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #e8e8e8 !important;
  background-image: linear-gradient(
    43deg,
    rgb(170, 9, 154) 0%,
    rgb(61, 79, 240) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border: none !important;
}

.contactBoton:hover {
  transition: all 500ms;
  color: #fff;
  animation: vibrate 20ms linear infinite forwards;

  background-color: transparent !important;
  box-shadow: rgba(224, 224, 224, 0.402) 0px 6px 16px,
    rgba(221, 220, 220, 0.404) 0px 8px 24px,
    rgba(200, 200, 203, 0.357) 0px 16px 56px !important;
}

.email {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .containerContact {
    width: 100%;
    padding: 10px;
  }

  .contactame {
    font-size: 1.5rem;
  }

  .labelContact, .email {
    font-size: 1rem;
  }

  .contactBoton {
    font-size: 1rem;
    padding: 8px;
  }
}


/* skils style  */
.skillsContainer {
  margin-top: 2rem;
}
.skill--box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-left: 1rem;
}
.skill-image {
  width: 60px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Projectpage style */
.project-detail-container {
  background-image: linear-gradient(
    to left bottom,
    #0d0d0d,
    #1e1e1e,
    #2d2d2d,
    #3d3d3d,
    #4e4e4e
  );
}

.projectbackground {
  width: 100%;
  height: 100%;
  background-color: #4d64d8;
  background-image: linear-gradient(
    to left bottom,
    #0d0d0d,
    #1e1e1e,
    #2d2d2d,
    #3d3d3d,
    #4e4e4e
  );
}

.project-section {
  position: relative !important;
  padding-top: 10px !important;
}

.project-card {
  padding-top: 20px;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.card-text {
  font-family: "Poppins";
}

.project-card-view {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
  color: #ffffff !important;
  background-color: transparent !important;
  border: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  border-radius: 15px;
}
.project-card-viewMobile {
  width: 100% !important;
  margin-top: 150px;
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
  color: #ffffff !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  border-radius: 15px;
  height: 100% !important;
}
.project-card-view2{
  width: 100% !important;
  
  margin-top: 150px;
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
  color: #ffffff !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  border-radius: 15px;
  background-image: linear-gradient(
    to left bottom,
    #286ed786,
    #0559c0c0,
    #456de657,
    #28adb9a3,
    #ef15f36f
  );
}


.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.small-image {
  max-height: 200px; /* ajusta el tamaño como prefieras */
  object-fit: contain; /* para mantener la relación de aspecto */
}

.viewbtn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 18px !important;
  letter-spacing: 1px;
  font-family: "Poppins" !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: transparent !important;
  border-color: #ffffff !important;
}

.btn-primary:hover {
  color: #0033ff !important;
  background-color: transparent !important;
  border-color: #0033ff !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.project-detail-container {
  margin: 0 auto;
  padding: 20px;
  background-color: black; /* Fondo negro */
  color: white; /* Letras blancas */
}

.project-card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espacio debajo del header */
}

.project-detail-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

.project-detail-description {
  text-align: justify;
  font-size: 1.2em;
  color: #d4d4d4;
}

.project-detail-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.project-detail-buttons .btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  letter-spacing: 1px;
}

.project-detail-buttons .btn:hover {
  background-color: #0033ff;
  border-color: #0033ff;
}
/* New styles for carousel images */
.carousel-image {
  margin: 0 auto; /* Center the image */
  margin-top: 10px;
  max-height: 300px; /* Adjust the height as needed */
  object-fit: contain; /* Ensure aspect ratio is maintained */
}

/*skills*/
.project-skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-skills-icons span {
  margin: 10px;
  font-size: 2rem; /* Tamaño de los íconos */
}

/*mas */
.margintop {
  margin-top: 150px; /* Ajusta el valor según tus necesidades */
}
.h2title {
  color: #ffffff;
  margin-bottom: 20px;
}
.no-underline {
  text-decoration: none;
}
.nav-link .nav-text,
.resumebtn .nav-text {
  margin-left: 8px; /* Ajusta el espacio según tus necesidades */
}
.nav-text:hover {
  display: inline-block;
  transition: all 500ms;
  color: #fff;
  animation: vibrate 20ms linear infinite forwards;
}

.title-project:hover {
  display: inline-block;
  transition: all 700ms;
  color: #fff;
  animation: vibrate 20ms linear infinite forwards;
}
